$fuente-tipica: sans-serif, Helvetica, Arial;
$color-fondo: #ccc;
$color-letra:red;
$color-secudario:rgb(95, 32, 32);


body{
    background-color: $color-fondo;
}

h1 {
    font-family: $fuente-tipica;
    color: $color-letra;
}

p{
    color: $color-secudario;
  }